/*タブレット用表示設定*/
@media (max-width: 1024px) {
  /*メイン部分ここから*/
  .contents > p{
    font-size: 20px;
    line-height: 30px;
  }
  h2{
    font-size: 35px;
  }
  .inner{
    text-align: center;
  }

  /*privacy.htmlここから*/
  ol > li{
    line-height: 45px;
  }
  /*privacy.htmlここまで*/

  /*aboutus.htmlここから*/
  table{
    width: 80%;
  }
  /*aboutus.htmlここまで*/

  /*メイン部分ここまで*/

  /*フッター部分*/
  /*フッターの下の空白対策*/
  html, body{
    height: 100%;
  }
  .wrapper{
    width: 100%;
    position: relative;
    min-height: 100%;
  }
  .inner{
    padding-bottom:120px; /*フッターの高さと同じにする*/
  }
  /*フッターの下の空白対策ここまで*/

  footer {
    width: 100%;
    height: 120px;
    padding-top: 50px 0;
    line-height: 120px;
    background-color: #1a3057;
    color: #fff;
    font-size: 20px;
    /*フッターの下の空白対策*/
    position: absolute;
    bottom: 0;
    /*フッターの下の空白対策ここまで*/
  }
  /*フッター部分ここまで*/
}

/*スマホ用表示設定*/
@media (max-width: 670px) {
  /*ヘッダー部分*/
  .header-logo > img{
    width: 100vw;
  }
  #header-menu > ul > li{
    font-size: 10px;
  }
  /*ヘッダー部分ここまで*/

  /*メイン部分ここから*/
  .inner{
    text-align: center;
  }

  /*index.htmlここから*/
  .ad_slogan > h2{
    font-size: 28px;
  }
  /*index.htmlここまで*/

  .contents > h1{
    font-size: 30px;
  }
  .contents> h2{
    font-size: 25px;
  }
  .contents > p{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 17px;
  }

  /*privacy.htmlここから*/
  ol > li{
    font-size: 18px;
    line-height: 10px;
  }
  ol > h2{
    font-size: 25px;
  }
  /*privacy.htmlここまで*/

  .contents{
    font-size: 18px;
    margin: 10% 3%;
  }

  /*aboutus.htmlここから*/
  table{
    width: 90%;
  }
  table > thead{
    font-size: 10px;
  }
  table > tbody{
    font-size: 10px;
  }
  .contents > .index-performance{
    font-size: 13px;
    line-height: 10px;
  }
  .contents > .index-explanation{
    font-size: 12px;
  }
  .contents > .explanation{
    text-align: justify;
  }
  /*aboutus.htmlここまで*/

  /*contact.phpここから*/
  label > input{
    width: 100%;
  }
  label > textarea{
    width: 100%;
  }
  /*contact.phpここまで*/
  /*メイン部分ここまで*/

  /*フッター部分*/
  /*フッターの下の空白対策*/
  html, body{
    height: 100%;
  }
  .wrapper{
    width: 100%;
    position: relative;
    min-height: 100%;
  }
  .inner{
    padding-bottom:120px; /*フッターの高さと同じにする*/
  }
  /*フッターの下の空白対策ここまで*/

  footer {
    width: 100%;
    height: 120px;
    padding-top: 50px 0;
    line-height: 120px;
    background-color: #1a3057;
    color: #fff;
    font-size: 14px;
    /*フッターの下の空白対策*/
    position: absolute;
    bottom: 0;
    /*フッターの下の空白対策ここまで*/
  }
  /*フッター部分ここまで*/
}
